.container {
	display: flex;
	flex: 1 250px;
	gap: 1rem;
	justify-content: space-between;
	background-color: var(--bg-secondary);
	padding: 2rem;
	border-radius: var(--radius);
}

.bar {
	height: 3.5rem;
	width: 1px;
	margin-inline: 1rem;
	background-color: var(--text-dark-bg);
}
