.sidebar {
	display: flex;
	flex-direction: column;

	position: fixed;
	padding: 2rem;
	width: var(--sidebar-width);
	height: 100dvh;
	gap: 1.2rem;
	overflow-y: auto;

	background-color: var(--dark-bg);
	color: var(--title);
	user-select: none;
}

.itens {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
}

.logo {
	cursor: pointer;
	margin-bottom: 2rem;
	transition: filter var(--transition-time) ease;
}

.logo:hover {
	filter: drop-shadow(0px 2px 10px var(--primary-color));
}
